@use "../abstracts/variables" as *;
@use '../abstracts/mixins' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: $primary-color;
  color: $font-color;
  font-family: $font-main !important;
  line-height: 1.6;
  font-size: 14px;
}

.containers{
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  &--conl{
      max-width: 1400px;
  }
  &--conm{
      max-width: 1200px;
  }
  &--cons{
      max-width: 600px;
  }
  &--nav{
      width: 100%;
  }
  &--footer{
      padding:41px 58px;
      background-color: $bg-footer;
      @media (max-width: $laptop) {
        padding:40px 35px;
      }
  }
  &--menu{
    @include flex;
    justify-content: center;
  }
  &--logo{
      position: fixed;
      top: 75px;
      width: 100%;
      z-index: 10;
      mix-blend-mode: difference;
  }
}

input{
  border: none;
  border-bottom: solid 1px;
  width: 100%;
  
  &:focus{
      outline: none;
  }
}

a{
  text-decoration: none !important;
  color: $secondary-color !important;
  cursor: pointer;
}

section{
  margin-bottom: 100px;
  @media (max-width: $laptop) {
    margin-bottom: 50px;
  }
}

video{
  width: 100%;
}