@use "../abstracts/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: $bg-main;
  color: $font-color;
  font-family: $font-main;
  line-height: 1.6;
  font-size: 14px;
}

.container-l {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container-m {
  max-width: 1092px;
  margin-left: auto;
  margin-right: auto;
}

.container-s {
  max-width: 978px;
  margin-left: auto;
  margin-right: auto;
}