@use "../abstracts/variables" as *;
h2,h3,h4,h5{
    font-weight: 900 !important;
    line-height: 1.5;
    margin-bottom: 24px;
    text-transform: uppercase;
}

h2{
    font-size: 70px !important;
    @media (max-width: $laptop) {
        font-size: 45px !important;
    }
    @media (max-width: $tablet) {
        font-size: 35px !important;
    }
}

h3{
    font-size: 60px!important;
    @media (max-width: $laptop) {
        font-size: 40px !important;
    }
    @media (max-width: $tablet) {
        font-size: 30px !important;
    }
}

h4{
    font-size: 40px !important;
    @media (max-width: $laptop) {
        font-size: 35px !important;
    }
    @media (max-width: $tablet) {
        font-size: 25px !important;
    }
}

h5{
    font-size: 16px!important;
}