h2,h3,h4,h5{
    font-weight: 900;
    line-height: 1.5;
    margin-bottom: 24px;
}

h1{
    font-size: 145px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 24px;
}

h2{
    font-size: 80px;
}

h3{
    font-size: 60px;
}

h4{
    font-size: 40px;
}

h5{
    font-size: 16px;
}