h2,h3,h4,h5{
    font-weight: 900 !important;
    line-height: 1.5;
    margin-bottom: 24px;
}

h2{
    font-size: 70px !important;
}

h3{
    font-size: 60px!important;
}

h4{
    font-size: 40px !important;
}

h5{
    font-size: 16px!important;
}