$primary-color: #FFFFFF;
$secondary-color: #000000;
$bg-main: #000000 !important;
$button-f: #E0E0E0;
$bg-footer: #F8F9F8;
$gray: #e7e7e7;
// Font
$font-heading: "Hanken Grotesk", sans-serif;
$font-main: Arial, Helvetica, sans-serif;
$font-color: #000000;
$h-color: #FFFFFF;

//Device
$mobile: 480px;
$tablet-sm: 576px;
$tablet: 767px;
$laptop: 992px;
$desktop: 1200px;
