@use "abstracts/variables";
@use "abstracts/mixins";
@use "abstracts/keyframes";

@use "base/reset";
@use "base/typography";

@use "layout/navbar";
@use "layout/footer";

@use "components/button";

@use "pages/home";

@import "../../node_modules/bootstrap/scss/bootstrap";