@use "abstracts/variables";
@use "abstracts/mixins";

@use "base/reset";
@use "base/typography";

@use "layout/navbar";
@use "layout/footer";

// @use "components/button";
// @use "components/card";

@use "pages/home";