@use '../abstracts/variables' as *;
button {
  padding: 10px 20px;
  border: none;
  border-radius: 0;
  color: $primary-color;
  cursor: pointer;
  &.submit{
    padding: 0;
    margin: 0;
    margin-top: 40px;
    input{
      border: 0;
      margin-bottom: 0 !important;
      padding: 12px 40px !important;
      background-color: $secondary-color;
      color: $primary-color;
    }
  }
}