<header class="navbar">
    <div class="containers containers--nav">
        <nav class="row">
            <div class="dropdown col-4">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    TH - THB
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">US - USD</a>
                </div>
            </div>
            <div class="menu-desktop col-4">
                <div class="containers containers--menu">
                    <a href="#" class="menu-item">
                        <span>Women</span>
                    </a>
                    <a href="#" class="menu-item">
                        <span>Collections</span>
                    </a>
                    <div href="#" class="menu-item dropdown-l">
                        <span>Editorial</span>
                    </div>
                    <div class="menu-drop">
                        <a class="menu-drop-item" href="#">A.S.C</a>
                        <a class="menu-drop-item" href="#">Bazaar</a>
                        <a class="menu-drop-item" href="#">ELLE</a>
                        <a class="menu-drop-item" href="#">GQ</a>
                    </div>
                    <a href="#" class="menu-item">
                        <span>News</span>
                    </a>
                    <a href="#" class="menu-item">
                        <span>Stories</span>
                    </a>
                    
                </div>
            </div>
            <div class="signin col-4">
                <a href="#" class="signin-item">
                    <span>Sign in</span>
                </a>
            </div>
        </nav>
    </div>
</header>
